<div class="login-form">
    <form [formGroup]="LoginForm" (ngSubmit)="login()">
        <h2 class="text-center">Soft-G net</h2>       
        <div class="form-group">
            <input type="email" class="form-control" placeholder="email" formControlName="email">
            <div class="form-control-feedback" style="color:red" *ngIf="LoginForm.get('email').hasError('required') && (LoginForm.get('email').dirty || LoginForm.get('email').touched) ">Nombre es requerido</div>
            <div class="form-control-feedback" style="color:red" *ngIf="LoginForm.get('email').hasError('email') && (LoginForm.get('email').dirty || LoginForm.get('email').touched) ">Email incorrecto</div>
        </div><br>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" formControlName="password">
            <div class="form-control-feedback" style="color:red" *ngIf="LoginForm.get('password').hasError('required') && (LoginForm.get('password').dirty || LoginForm.get('password').touched) ">Nombre es requerido</div>
        </div><br>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="LoginForm.invalid || loading">Entrar</button>
        </div><br>
            
    </form>
    <p class="text-center"><a routerLink="/auth/register">Create an Account</a></p>
</div>